# Copy to .env and set your absolute path to the "Model" folder
# (parent is ACNH_2.0.0_Exported_Model_DAE+PNG).

# VITE_ACNH_MODEL_ROOT=/home/zuhair/Desktop/project/AnimalCrossing/ACNH_2.0.0_Exported_Model_DAE+PNG/Model
# VITE_ACNH_MODEL_ROOT=C:/Users/ZUHAIR/Desktop/2026/animalcrossing/ACNH_2.0.0_Exported_Model_DAE+PNG/Model

VITE_ACNH_MODEL_ROOT=
